// resources/scss/utilities/_text.scss
@use '../variables' as variables;

// Grayscale Text Utilities

.text-xs {
  font-size: .7rem;
}

.text-lg {
  font-size: 1.2rem;
}

.text-gray-100 {
  color: variables.$gray-100 !important;
}

.text-gray-200 {
  color: variables.$gray-200 !important;
}

.text-gray-300 {
  color: variables.$gray-300 !important;
}

.text-gray-400 {
  color: variables.$gray-400 !important;
}

.text-gray-500 {
  color: variables.$gray-500 !important;
}

.text-gray-600 {
  color: variables.$gray-600 !important;
}

.text-gray-700 {
  color: variables.$gray-700 !important;
}

.text-gray-800 {
  color: variables.$gray-800 !important;
}

.text-gray-900 {
  color: variables.$gray-900 !important;
}

.icon-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
